{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title is-1 has-text-grey-dark has-text-weight-bold">{{ article.title }}</h1>
    <h2 class="subtitle is-6">
        <ul class="article-infos">
            <li><i class="fa fa-calendar" aria-hidden="true"></i> {{ article.createdAt|date("d/m/Y") }}</li>
            <li><i class="fa fa-user" aria-hidden="true"></i> par: {{ article.author.username|capitalize }}</li>
            <li><i class="fa fa-commenting" aria-hidden="true"></i> {{ article.comments.count }}
                {{ article.comments.count <= 1 ? 'comment' : 'comments' }}</li>
        </ul>
    </h2>

    <div class="article-content">
        <p>{{ article.content }}</p>
    </div>

    <hr>
    <h3 class="title is-4">
        {{ article.comments|length }} {{ article.comments|length <= 1 ? 'comment' : 'comments' }}
    </h3>

    {% for comment in article.comments|sort|reverse %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ comment.author.username }}</strong>
                        <br>
                        {{ comment.content }}
                    </p>
                </div>
            </div>
        </article>
        <hr class="comments-separator">
    {% endfor %}

    <div class="columns">
        <div class="column">
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                {{ render(controller('App\\Controller\\BlogController::commentForm', {'article': article.id})) }}
            {% else %}
                <div class="notification is-primary">
                    {{ 'please login or register' }} <br>
                    <a href="{{ path('login') }}">{{ 'login / ' }}</a>
                    <a href="{{ path('registration') }}">{{ ' sign up' }}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

