{% extends 'base.html.twig' %}

{% block body %}
    <div id="article_show">
        {% if article.coveredImage is not null %}
            <img src="/uploads/images/covered/{{ article.coveredImage }}" alt="{{ article.coveredImage }}" id="covered_image">
        {% endif %}
        <div id="article_body">
            <h1 class="title is-1 has-text-grey-dark has-text-weight-bold">{{ article.title }}</h1>
            <h2 class="subtitle is-6">
                <ul class="article-infos">
                    <li><i class="fa fa-calendar" aria-hidden="true"></i> {{ article.createdAt|date("d/m/Y") }}</li>
                    <li><i class="fa fa-user" aria-hidden="true"></i> by: {{ article.author.username|capitalize }}</li>
                    <li><i class="fa fa-commenting" aria-hidden="true"></i> {{ article.comments.count }}
                        {{ article.comments.count <= 1 ? 'comment' : 'comments' }}</li>
                </ul>
            </h2>

            <div class="article-content">
                <p>{{ article.content|raw }}</p>
            </div>

            <hr>
            <div class="columns">
                <div class="column">
                    {% if app.user %}
                        {{ render(controller('App\\Controller\\BlogController::commentForm', {'article': article.id})) }}
                    {% else %}
                        <div class="notification is-primary">
                            You must be login to leave a comment  <br>
                            <a href="{{ path('login') }}">
                                <i class="fa fa-sign-in">
                                    Sign In
                                </i>
                            </a>
                            <a href="{{ path('registration') }}">
                                <i class="fa fa-user-plus">
                                    Sign Up
                                </i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <h3 class="title is-4">
                {{ article.comments|length }} {{ article.comments|length <= 1 ? 'comment' : 'comments' }}
            </h3>

            {% for comment in article.comments|sort|reverse %}
                <div class="row">
                    <div class="col-lg-6">

                        <!-- CUSTOM BLOCKQUOTE -->
                        <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                            <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                            <p class="mb-0 mt-2 font-italic">{{ comment.content }}</p>
                            <hr>
                            <footer class="blockquote-footer pt-4 mt-4">
                                {{ "by " ~ comment.author.username }}{{ " at " ~ comment.createdAt|date("d/m/Y") }}
                            </footer>
                        </blockquote><!-- END -->

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

