{% extends 'base.html.twig' %}

{% block title %}{{ "resetPassword.title"|trans }}{% endblock %}

{% block body %}
    <div id="reset_form" class="card bg-light">
        <h1>{{ "resetPassword.h1"|trans }}</h1>

        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{ "resetPassword.button.password"|trans }}</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
