{% extends 'base.html.twig' %}

{% block title %}{{ "user.profile.title"|trans }}{% endblock %}

{% block body %}
<div id="profile_edit">
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <nav class="navbar navbar-expand-sm">
                            <a href="{{ path('user_profile') }}">{{ "user.profile.show"|trans }}</a>
                            {{ "&nbsp / &nbsp" }}
                            <a href="{{ path('user_edit') }}/{{ app.user.id }}">{{ "user.profile.edit"|trans }}</a>
                        </nav>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>{{ user.username }}</h4>
                                    <p class="text-secondary mb-1">{{ user.email }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    {{ form_start(form) }}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">{{ "profile.edit.firstname"|trans }}</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ form_row(form.firstname) }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">{{ "profile.edit.lastname"|trans }}</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ form_row(form.lastname) }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">{{ "profile.edit.age"|trans }}</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ form_row(form.age) }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">{{ "profile.edit.address"|trans }}</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    {{ form_row(form.adress) }}
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-lg btn-success">
                            {{ button_label|default('profile.edit.button'|trans) }}
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
