{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <div class="columns" id="profile">
        <div class="column is-one-quarter">
            {% include('blog/user/profile/_sidebar.html.twig') %}
        </div>
        <div class="column">
            <div class="has-text-centered">
                {# <figure class="image is-128x128 is-inline-block">
                    <img class="profile-picture" src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
                #}
                <span class="">pseudo : {{ user.username }}</span><br>
                <span class="">email : {{ user.email }}</span><br>
                <span class="">firstname : {{ user.firstname ? user.firstname : 'not specified' }}</span><br>
                <span class="">lastname : {{ user.lastname ? user.lastname : 'not specified'}}</span><br>
                <span class="">age : {{ user.age ? user.age : 'not specified'}}</span><br>
                <span class="">adress : {{ user.adress ? user.adress : 'not specified'}}</span><br>

            </div>
            <hr>
            {#
            <div class="columns">
                <div class="column">
                    <span class="title is-4">Article where I leave comment</span>
                    <p><i>coming soon</i></p>
                </div>
            </div>
            #}

        </div>
    </div>
{% endblock %}
