{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title 'Welcome to Admin dashboard' %}

{% block page_content %}
    <div class="section mt-30">
        <div class="columns">
            <div class="column has-text-centered">
                <i class="fa fa-comment-o fa-8x is-block mb-5 has-text-light" aria-hidden="true"></i>
                <span class="has-text-weight-bold is-size-3 has-text-light">
                    {{ countComments }} {{ countComments <= 1 ? 'comment' : 'comments' }}
                </span>
                <i class="fa fa-newspaper-o fa-8x is-block mb-5 has-text-light" aria-hidden="true"></i>
                <span class="has-text-weight-bold is-size-3 has-text-light">
                    {{ countArticles }} {{ countArticles <= 1 ? 'article' : 'articles' }}
                </span>
                <i class="fa fa-user-o fa-8x is-block mb-5 has-text-light" aria-hidden="true"></i>
                <span class="has-text-weight-bold is-size-3 has-text-light">
                    {{ countUsers }} {{ countUsers <= 1 ? 'user' : 'users' }}
                </span>
            </div>
        </div>
    </div>
{% endblock %}