{% extends 'base.html.twig' %}
{% block body %}
    {% if articles is not empty %}
        <div class="container-fluid" id="homepage">
            <div class="row">
                {% for article in articles|sort|reverse %}
                    <div class="col-3 mb-3">
                        <div class="card">
                            <img src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('card_head_min') }}" alt="{{ article.coveredImage }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.title }}</h5>
                                <p class="card-text">{{ article.content|striptags|slice(0,50)}}</p>
                                <a href="article/{{ article.slug }}" class="btn btn-outline-success btn-sm">{{ "article.button.read"|trans }}</a>
                                {% for tag in article.tag %}
                                    <span class="badge bg-success"><i class="fa fa-tags"></i>{{tag.name}}</span>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ knp_pagination_render(articles) }}
    {% endif %}
{% endblock %}