{% extends 'base.html.twig' %}
{% block body %}
    {% if articles is not empty %}
        <div class="container-fluid" id="homepage">
            <div class="row">
                {% for article in articles|sort|reverse %}
                    <div class="col-3 mb-3">
                        <div class="card">
                            <img src="/uploads/images/covered/{{ article.coveredImage }}" alt="{{ article.coveredImage }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.title }}</h5>
                                <p class="card-text">{{ article.content|striptags|slice(0,50)}}</p>
                                <a href="article/{{ article.slug }}" class="btn btn-outline-success btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ knp_pagination_render(articles) }}
    {% endif %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock javascripts%}
{% endblock %}